[submodule "zsh/.config/zsh/scripts/zsh-plugins"]
    path = zsh/.config/zsh/scripts/zsh-plugins
    url = https://github.com/jsks/zsh-plugins.git
[submodule "tmux/.tmux/tmux-yank"]
	path = tmux/.tmux/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
	branch = master
[submodule "zsh/.config/zsh/scripts/fzf-tab"]
	path = zsh/.config/zsh/scripts/fzf-tab
	url = git@github.com:Aloxaf/fzf-tab.git
[submodule "tmux/.tmux/tmux-extrakto"]
	path = tmux/.tmux/tmux-extrakto
	url = git@github.com:laktak/extrakto.git
[submodule "emacs/.emacs.d/local/ajrepl"]
	path = emacs/.emacs.d/local/ajrepl
	url = git@github.com:sogaiu/ajrepl
[submodule "emacs/.emacs.d/local/janet-ts-mode"]
	path = emacs/.emacs.d/local/janet-ts-mode
	url = git@github.com:sogaiu/janet-ts-mode
[submodule "emacs/.emacs.d/local/julia-ts-mode"]
	path = emacs/.emacs.d/local/julia-ts-mode
	url = git@github.com:dhanak/julia-ts-mode
