emacs/.emacs.d/*
!emacs/.emacs.d/init.el
!emacs/.emacs.d/local
!emacs/.emacs.d/settings.org
mutt/.mutt/*
!mutt/.mutt/sidebar.muttrc
!mutt/.mutt/colors.muttrc
!mutt/.mutt/mailcap
ncmpcpp/.config/ncmpcpp/config.orig
ncmpcpp/.config/ncmpcpp/error.log
R/.R/*
scripts/bin/flash
scripts/bin/texcount.pl
vim/.vim/backup/
vim/.vim/bundle/
vim/.vim/.netrwhist
vim/.vim/swap/
vim/.vim/spell/
zsh/.config/zsh/cache/
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/aliases_*
zsh/.config/zsh/bookmarks
zsh/.config/zsh/histfile
zsh/.config/zsh/.zcompcache

**/node_modules
**/\#*\#
