* {
    border: none;
    border-radius: 0;
    font-family: "Hack";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    color: #F8F5E2;
    background-color: #514C4C;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: #F8F5E2;
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    color: #9FB5C2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock, #battery {
    margin: 2px 4px;
}

#clock {
    color: #9FB5C2;
}

#battery.charging, #battery.plugged {
    color: #96BE65;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.low:not(.charging) {
    color: #BE7765;
}

#battery.critical:not(.charging) {
    color: #BE7765;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
