! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! author:   Cloud
! vim:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
! ----------------------------------------------------------------------------

! Fonts
#define FONT           xft:Inconsolata:style=Regular:pixelsize=11
#define FONT_BOLD      xft:Inconsolata:style=Bold:pixelsize=11

! Colors
#include "/home/cloud/.colors/matte"

*background: #3B333D
*foreground: #F8F5E2

*font:          FONT
*boldFont:      FONT_BOLD

Xft.antialias:  1
Xft.autohint:   0
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

Xcursor.theme: 		 default
